<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HealthTrackUndefined</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asd</display-name>
    <servlet-name>asd</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.asd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asd</servlet-name>
    <url-pattern>/asd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExerciseInputController</display-name>
    <servlet-name>ExerciseInputController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.ExerciseInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExerciseInputController</servlet-name>
    <url-pattern>/ExerciseInputController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodInputController</display-name>
    <servlet-name>FoodInputController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.FoodInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodInputController</servlet-name>
    <url-pattern>/FoodInputController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeightInputController</display-name>
    <servlet-name>WeightInputController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.WeightInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeightInputController</servlet-name>
    <url-pattern>/WeightInputController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PressureInputController</display-name>
    <servlet-name>PressureInputController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.PressureInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PressureInputController</servlet-name>
    <url-pattern>/PressureInputController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExerciseLogController</display-name>
    <servlet-name>ExerciseLogController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.exercise.ExerciseLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExerciseLogController</servlet-name>
    <url-pattern>/ExerciseLogController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExerciseHistoryController</display-name>
    <servlet-name>ExerciseHistoryController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.exercise.ExerciseHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExerciseHistoryController</servlet-name>
    <url-pattern>/ExerciseHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodHistoryController</display-name>
    <servlet-name>FoodHistoryController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.food.FoodHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodHistoryController</servlet-name>
    <url-pattern>/FoodHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodLogController</display-name>
    <servlet-name>FoodLogController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.food.FoodLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodLogController</servlet-name>
    <url-pattern>/FoodLogController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PressureHistoryController</display-name>
    <servlet-name>PressureHistoryController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.pressure.PressureHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PressureHistoryController</servlet-name>
    <url-pattern>/PressureHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeightHistoryController</display-name>
    <servlet-name>WeightHistoryController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.WeightHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeightHistoryController</servlet-name>
    <url-pattern>/WeightHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeightLogController</display-name>
    <servlet-name>WeightLogController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.WeightLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeightLogController</servlet-name>
    <url-pattern>/WeightLogController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PressureLogController</display-name>
    <servlet-name>PressureLogController</servlet-name>
    <servlet-class>br.com.fiap.healthtrack.controller.pressure.PressureLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PressureLogController</servlet-name>
    <url-pattern>/PressureLogController</url-pattern>
  </servlet-mapping>
</web-app>